<body  style="background-color:Black;border:2px solid Tomato;color:White;">
<h1 align="center" style="border:2px solid Tomato;"> Bienvenido al juego </h1>
<form method='post' action='/cantAutos' align="center">
  Ingrese cantidad de autos
  <select name="autos" id = "autos" value=<%@cantidad_de_autos%>>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="crear" name="btn_crear" id="btn_crear">
  <br>
  <br>
</form>
<form method='post' action='/tablero' align="center">
  Ingrese dimensiones de tablero
  <select name="sizes" id = "sizes">
    <option value="5">5x5</option>
    <option value="6">6x6</option>
    <option value="7">7x7</option>
    <option value="8" selected>8x8</option>
    <option value="9">9x9</option>
    <option value="10">10x10</option>
  </select>
  <br>
  <br>
  <br>
  <% for index in 1..@cantidad_de_autos.to_i %>
    <label>Auto #<%=index%></label>
    <input id ="orientacion<%=index%>" name="orientacion<%=index%>" type="text" placeholder="orientacion">
    <input id ="posx<%=index%>" name="posx<%=index%>" type="text" placeholder="posicion en X">
    <input id ="poxy<%=index%>" name="posy<%=index%>" type="text" placeholder="posicion en Y">
    <br>
    <br>
  <% end %>
  <input type='submit' value='Empezar A Jugar'>
</form>
</body>
