<body style="background-color:Grey;;color:White;">
<h1>Bienvenido al juego</h1>
La cantidad de Autos es  <%=@cantAutos%>
    <div id="tablero" >
<br><br>
        <% for i in 1..@size %>
            <h5 style="color:#006E6D; left: <%=(100*i)+10%>px; top: 30px; position: absolute"><%=i%></h5>
        <% end %>
        <% for i in 1..@size %>
            <h5 style="color:#006E6D; left: 50px; top:<%=(100*i)-15%>px; position: absolute"><%=i%></h5>
        <% end %>
        <% @tablero.getAutos.each do |a|  %>
        <%=a.getPosX%>
        <%=a.getPosY%>
            <h5 style="color:#006E6D; left: <%=(200*a.getPosX)%>px; top:<%=(200*a.getPosY)%>px; position: absolute"><%=(a.getNombre)%></h5>
        <% end %>
    </div>
</body>
